<img src="../../../../assets/images/cross_grid.png" class="img-fluid mb-3" alt="grid">
<div class="container my-5">
    <div class="row">
            <h2 class="text-uppercase text-center py-5 col-12 title display-4" data-aos="fade-up" data-aos-duration="480">parteneri</h2>
            <div class="d-none d-md-block d-lg-block d-xl-block col-md-12 col-lg-12 col-xl-12 mx-5" data-aos="fade-up" data-aos-duration="580" >
                    <mdb-carousel class="multi-carousel" data-mdb-items="2" [animation]="'slide'"
                            [isControls]="false">
                            <mdb-carousel-item>
                                    <div class="row">
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards">
                                                    <img class="img-fluid" src="../../../../assets/images/partneri/tece.webp" alt="First slide">
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/purmo.jpg"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/giacomini.png"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/rehau.png"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/uponor.png"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/henco.webp"
                                                            alt="First slide"></div>
                                    </div>
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                                    <div class="row">
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/vissman.webp"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/buderus.png"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/ariston.png"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/motan.png"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/fornello.png"
                                                            alt="First slide"></div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 cards"><img class="img-fluid"
                                                            src="../../../../assets/images/partneri/sontec.jpg"
                                                            alt="First slide"></div>
                                    </div>
                            </mdb-carousel-item>
                    </mdb-carousel>
            </div>
            <div class="col-12 d-xs-block d-sm-block d-md-none d-lg-none d-xl-none py-0" data-aos="fade-up" data-aos-duration="580" data-aos-anchor-placement=".title">
                    <mdb-carousel [animation]="'slide'">
                            <mdb-carousel-item>
                              <img class="d-block w-100" src="../../../../assets/images/partneri/tece.webp" alt="First slide">
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                              <img class="d-block w-100" src="../../../../assets/images/partneri/purmo.jpg" alt="First slide">
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                              <img class="d-block w-100" src="../../../../assets/images/partneri/rehau.png" alt="First slide">
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                              <img class="d-block w-100" src="../../../../assets/images/partneri/henco.webp" alt="First slide">
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                              <img class="d-block w-100" src="../../../../assets/images/partneri/motan.png" alt="First slide">
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                              <img class="d-block w-100" src="../../../../assets/images/partneri/ariston.png" alt="First slide">
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                              <img class="d-block w-100"src="../../../../assets/images/partneri/vissman.webp" alt="First slide">
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                              <img class="d-block w-100" src="../../../../assets/images/partneri/uponor.png" alt="First slide">
                            </mdb-carousel-item>
                    </mdb-carousel>
            </div>
    </div>
</div>