<footer class="page-footer foo font-small pt-4">
    <div class="container text-center text-md-left my-5">
        <div class="row">
            <div class="col-md-5 mt-md-0 mt-3">
                <h5 class="mb-3">Servicii:</h5>
                <ul class="list-unstyled">
                    <li class="my-2">
                        <a class="text-uppercase">MONTAJ INSTALATII SANITARE</a>
                    </li>
                    <li class="my-2">
                        <a class="text-uppercase">LUCRARI INSTALATII CASNICE, INDUSTRIALE, BLOCURI, BIROURI</a>
                    </li>
                    <li class="my-2">
                        <a class="text-uppercase">INTRETINERE </a>
                    </li>
                    <li class="my-2">
                        <a class="text-uppercase">INTERVENTII </a>
                    </li>
                    <li class="my-2">
                        <a class="text-uppercase">climatizare</a>
                    </li>
                    <li class="my-2">
                        <a class="text-uppercase">sisteme de ventilatie</a>
                    </li>
                    
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase mb-3">
                    <mdb-icon far icon="clock" class="mx-1"></mdb-icon>Orar:
                </h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="disabled">Luni - Duminica <p>24h / 24h</p></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase mb-3">
                    <mdb-icon fas icon="user-alt" class="mx-1"></mdb-icon>Contact
                </h5>
                <ul class="list-unstyled">
                    <li class="my-2">
                        <a
                            href="https://www.google.ro/maps/place/Strada+Alexandru+cel+Bun+88,+Gala%C8%9Bi/@45.4629897,28.0368673,17z/data=!3m1!4b1!4m5!3m4!1s0x40b6de11f41a58b1:0x4970a8fb67a2012a!8m2!3d45.462986!4d28.039056?hl=en&authuser=0">
                            <mdb-icon fas icon="map-marker-alt" class="mx-1"></mdb-icon>adresa firmei
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="tel:0762 047 622">
                            <mdb-icon class="mx-1" fas icon="phone"></mdb-icon>0762 047 622
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="mailto:office.filandsolar@gmail.com">
                            <mdb-icon class="mx-1" fas icon="envelope"></mdb-icon>office.instalatiiasi@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://github.com/Neculaiovici"> filandsolar.ro</a>
    </div>
</footer>