<div class="content">
    <img src="../../../../assets/images/cross_grid.png" class="img-fluid my-3" alt="grid-img">
    <div class="container">
        <div class="row my-5">
            <div class="col-12 col-xl-6 col-xxl-6 content__cards">
                <div class="row">
                    <div class="col-6 my-3 p-3 content__cards">
                        <img src="../../../../assets/icons/pipeline.png" class="img-fluid mr-2" alt="pipelines">
                        <p class="my-auto text-uppercase tlt-shadow">instalatii sanitare</p>
                    </div>
                    <div class="col-6 my-3 p-3 content__cards">
                        <img src="../../../../assets/icons/plumber.png" class="img-fluid mr-2" alt="pipelines">
                        <p class="my-auto tlt-shadow">DESFUNDARE CANALIZARE</p>
                    </div>
                    <div class="col-6 my-3 p-3 content__cards">
                        <img src="../../../../assets/icons/maintenance.png" class="img-fluid mr-2" alt="pipelines">
                        <p class="my-auto tlt-shadow">INSTALARE SI SERVICE AER CONDITIONAT</p>
                    </div>
                    <div class="col-6 my-3 p-3 content__cards">
                        <img src="../../../../assets/icons/solar-energy.png" class="img-fluid mr-2" alt="pipelines">
                        <p class="my-auto tlt-shadow">SERVICE POMPE CALDURA</p>
                    </div>
                    <div class="col-6 my-3 p-3 content__cards">
                        <img src="../../../../assets/icons/heating.png" class="img-fluid mr-2" alt="pipelines">
                        <p class="my-auto tlt-shadow">INSTALARE SI SERVICE CENTRALE TERMICE</p>
                    </div>
                    <div class="col-6 my-3 p-3 content__cards">
                        <img src="../../../../assets/icons/underfloor-heating.png" class="img-fluid mr-2" alt="pipelines">
                        <p class="my-auto tlt-shadow">MONTAJ INCALZIRE IN PARDOSEALA</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 col-xxl-6">
                <h5 class="my-2 tlt-shadow">Reparatii, revizii sau service instalatii</h5>
                <h4 class="my-1 display-4 tlt-shadow">Raspuns rapid, Seriozitate & Profesionalism</h4>
                <p class="my-3">✓ Reparatii si intretinere instalatii sanitare, instalatii termice, sisteme de
                    alimentare cu apa si sisteme de canalizare.</p>
                <p class="my-3">✓ Service si mentenanta centrale termice murale, centrale termice de bloc, montare
                    termo-seminee, incalzire in pardoseala, montare si service boiler monovalent sau bivalent, solutii
                    de incalzire folosind surse regenerabile.</p>
                <p class="my-3">✓ Interventii in 30 min, respectam regulile de igiena</p>
                <p class="my-3">✓ Service si mentenanta panouri solare presurizate sau nepresurizate pentru producerea
                    de apa calda menajera.</p>
            </div>
        </div>
    </div>
    <img src="../../../../assets/images/cross_grid.png" class="img-fluid my-3" alt="grid-img">
</div>