<div class="content">
    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 my-auto">
                <h2 class="display-3 mt-5 title"><strong>De ce noi?</strong></h2>
                <h4 class="display-5 my-3 subtitle"><strong>Proiectam si implementam toate elementele de instalatii necesare unei
                        case moderne sau unui
                        spatiu de lucru inovator.</strong></h4>
                <h5 class="my-3">Avem la dispozitie experienta, personalul si echipamentele necesare pentru a realiza lucrari de
                    instalatii sanitare, termice si de canalizare, de la cele mai simple la cele mai complexe solutii
                    tehnice.</h5>
                <h5 class="my-3">Beneficiati de costuri reduse ca timp și bani datorita experientei de peste 15 ani pe care o avem in
                    acest domeniul si a unei continue si asidue preocupari pentru noile solutii disponiile pe piata.</h5>
                <h5 class="my-3">Ne-am specializat pe solutii moderne, economice și ecologice de încalzire, alimentare cu apa si
                    canalizare.</h5>
                    
                <div class="btn-contact mt-5">
                    <i class="fas fa-phone"></i>
                    <a class="phone-number" href="tel:0762 047 622"> 0762 047 622</a>
                </div>
            </div>
            <div class="d-none d-lg-block d-xl-block col-lg-6 col-xl-6">
                <img src="../../../../assets/images/why.png" class="img-fluid" alt="why">
            </div>
        </div>
    </div>
</div>