<header class="jarallax">
    <div class="view">
        <div class="mask d-flex justify-content-center align-items-center"
            style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 my-auto">
                        <!-- <img class="display-4 mb-0 pt-md-5 pt-5" src="#"
                            class="img-fluid" alt="logo-intro-w"> -->
                        <h1 class="title mb-0 pt-md-5 pt-5">Instalator Sanitar Iasi <br> Preturi avantajoase!</h1>
                        <hr class="hr-w pb-3">
                        <h5 class="h5-responsive pb-3 bt-3 moto">Avem echipe disponibile in toate zonele din Iasi
                            pentru a interveni de urgenta atunci cand apare o defectiune a instalatiei
                            sanitare, a instalatiei de canalizare sau a centralei termice.</h5>
                        <h5 class="moto">Montaje/reparații obiecte sanitare: cabina de dus, cazi de baie, desfundare WC, bideu,
                            chiuveta baie/bucatarie, desfundare scurgere baie sau bucatarie, montat/ demontat masina de
                            spalat rufe/vase, inlocuire robinete, inlocuire obiecte sanitare etc.</h5>
                    </div>
                    <div class="d-none d-lg-block d-xl-block col-lg-6 col-xl-6">
                        <form class="p-5 qa-form z-depth-1"
                            action="https://api.sheetmonkey.io/form/cY84dd3rk8JAYdbuAhopVk" method="post">
                            <div class="row">
                                <div class="md-form m-2 w-100">
                                    <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
                                    <input mdbInput type="text" id="form1" name="NumePrenume" class="form-control"
                                        required>
                                    <label for="form1" class="test">Nume complet*</label>
                                </div>
                                <div class="md-form m-2 w-100">
                                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                                    <input mdbInput type="email" name="Email" id="form2" class="form-control" required>
                                    <label for="form2" class="">Adresa mail*</label>
                                </div>
                                <div class="md-form m-2 w-100">
                                    <mdb-icon fas icon="phone-alt" class="prefix"></mdb-icon>
                                    <input mdbInput type="number" name="Telefon" id="form3" class="form-control"
                                        required>
                                    <label for="form3" class="">Numar telefon*</label>
                                </div>
                                <div class="md-form m-2 w-100">
                                    <mdb-icon fas icon="map-marker-alt" class="prefix"></mdb-icon>
                                    <input mdbInput type="text" name="Telefon" id="form4" name="AdresaObiectivului"
                                        class="form-control">
                                    <label for="form4" class="">Adresa</label>
                                </div>
                                <div class="md-form m-2 w-100">
                                    <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
                                    <textarea type="text" id="description" class="md-textarea" name="DescriereServiciu"
                                        mdbInput required></textarea>
                                    <label for="description" class="">Descrieti serviciul dorit*</label>
                                </div>
                                <input type="hidden" name="x-sheetmonkey-redirect" value="#" />
                                <input mdbBtn class="my-4 mx-auto myBtn" type="submit" value="trimite mesaj">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>